{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{webmachine, ".*", {git, "git://github.com/basho/webmachine.git",
                             {tag, "1.9.2"}}},
        {gproc, "0\.2\.11", {git, "git://github.com/uwiger/gproc.git",
                             {tag, "v0.2.11"}}},
        {jiffy, "0\.4\.3", {git, "git://github.com/davisp/jiffy.git",
                            {tag, "0.4.3"}}},
        {lager, "1\.2\.0", {git, "git://github.com/basho/lager.git",
                            {tag, "1.2.0"}}},
        {eleveldb, ".*", {git, "git://github.com/kevsmith/eleveldb.git"}},
        {harasser, ".*", {git, "git://github.com/kevsmith/harasser.git" }},
        {proper, "1\.0", {git, "git://github.com/manopapad/proper.git",
                          {branch, "master"}}}]}.
