{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{webmachine, "1\.10\.0", {git, "git://github.com/basho/webmachine.git",
                             {branch, "master"}}},
        {gproc, "0\.2\.10", {git, "git://github.com/uwiger/gproc.git",
                             {tag, "v0.2.10"}}},
        {jiffy, "0\.5\.2", {git, "git://github.com/davisp/jiffy.git",
                            {tag, "0.5.2"}}},
        {lager, "1\.2\.0", {git, "git://github.com/basho/lager.git",
                            {tag, "1.2.0"}}},
        {eleveldb, ".*", {git, "git://github.com/kevsmith/eleveldb.git"}}]}.
